body{
 margin: 0;
 padding: 0;

}
.head{
    width: 100%;
    height: 50px;
    background-color: rgb(46, 49, 48);
}
.menu{
    width: 940px;
    height: 40px;   
}
.menu ul li a:hover{
    color: red;
}
.menu ul{
 margin: 0;
 padding: 0;   
 list-style: none;
}
menu ul li {
    margin: 0;
    padding: 0;
    display:inline ;
}
.menu ul li a{
 margin: 10px; 
 height: 30px; 
 float: left;
 text-decoration: none; 
 font-size: 20px;
 color: aliceblue;
}
.Title{
    width: 90%;
    height: 200px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.title-principal{
    width: 40%;
    margin: auto;
}
.title-principal img{
    width: 20%;
    margin:0;
}
.Text{
    width: 45%;
    margin: auto;
}
.title-principal h1{
    margin: 5px;
    text-transform: uppercase;
    font-size: 20px;
    background: linear-gradient(yellow,red,red);
    -webkit-background-clip: text;
    color: transparent;  
}
.Text h2{
    margin-right: 10px;
    margin: 10px;
    font-size: 20px;   
}
.inf-galery-principal{
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    margin: auto; 
    height: 400px;
}
.inf-galery1{
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.inf-galery1 p{
 font-size: 50px;
 margin-top: 190px;
 background-position: right;
 width: 40%;
 height: 100%;
 text-align: center;
 text-transform: uppercase;
 background-color: rgba(210, 206, 206, 0.4);
 background: linear-gradient(rgb(221, 221, 215),red,red);
  -webkit-background-clip: text;
  color: transparent;  
}
.inf-galery1{
    background-image: url(/Asset/Img/imagen.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0,0, 0.4);
    background-position: center;
    background-blend-mode: darken;
}
.Galery{
    margin-top: 30px;
    width: 100%;
   }
.text{
    width: 80%;
    margin: auto;
}
.galery-cat{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}
.galery{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
}
.galery img{
    background-position: center;
    margin: auto;
    width: 90%;
}
.Informacion{
    width:100%;
    height: auto;
    background-position: center;
}
.body-imformacion{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     
}
.item-inf{
    margin: auto;
    width: 30%;
    margin-bottom: 15px;
}
.item-title > img{
    width: 10%;
    height: 50%;
    margin: 6px;
}
.item-title {
    height: 50px;
    display: flex;
    font-size: 12px;
}
.item-title p{
    font-size: 15px;
    color:black ;
    text-align: center;
    margin: 8px;
    padding-top: 10px;
    text-transform: uppercase;
    background-position: center;
}
.item-inf p{
    margin: 0;
    display: block;
    background-position: center;
}
.infor{
    width: 100%;
    height: auto;
    background-color: rgb(27, 28, 28);
}
.galery-cats{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}
.galerys{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 30%;
    margin: auto;
    margin-top: 5px;
}
.galerys img{
    background-position: center;
    margin: auto;
    width: 90%;
}
.galerys h1{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
}
.text h3{
    font-size:20px;
    color: azure;
}
.text h4{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(183, 207, 28);   
}
.galerys1{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 30%;
    margin: auto;
    margin-top: 5px;
}
.galerys1 h1{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: antiquewhite;   
}
.galerys1 p{
    text-align: right;
}
.galerys2{
    flex-wrap: wrap;
    display: flex;
    width: 30%;
    margin: auto;
    margin-top: 5px;   
}
.galerys1 img{
    width: 100%;
    height: 60%;
    margin: 10px;
}
.Informacion-relevante{
    width: 100%;
    margin: auto; 
}
.imformacion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aquamarine; 
}
.item-informacion{
    flex-wrap: wrap;
    display: flex;
    width: 30%;
    margin: auto;
    margin-top: 5px;   
}
.item-informacion h1{
   text-transform: uppercase;
   border-bottom: black solid;
}
.item-informacion p{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
.item-informacion2{
    flex-wrap: wrap;
    display: flex;
    width: 30%;
    margin: auto;
    margin-top: 5px;   
}
.item-informacion3{
    flex-wrap: wrap;
    display: flex;
    width: 30%;
    margin: auto;
    margin-top: 5px;   
}
.item-informacion3 h1{
    text-transform: uppercase;
    border-bottom: black solid;   
}
.item-informacion3 h2{
    text-shadow: 20px;
    margin-top: 8px;
}
.item-informacion3 p{
    margin: 5px;
}

.mes{
    width: 100%;
    margin-bottom:7px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item-informacion2>h1{
    text-transform: uppercase;
    border-bottom: black solid;   
}
.number {
    width: 45%;
    height: 100px;
    margin: 5px;  
    background-color: rgb(84, 147, 164);
}
.number h1{
    text-shadow: 30px;
    text-align: center;
}
.infor-mes{
   
    width: 45%;
    margin: auto;  
}
.infor-mes p{
    margin: 5px;
}
.contactos{
    width: 100%;
    height: 200px;
}
.contact{
    background-color: aquamarine;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 10px;   
}
.infor-contc{
    margin-top:10px ;
    margin: auto;
    width: 30%;
}
.infor-links{
    margin-top: 8px;
    margin: auto;
    width: 30%;
}
.contact-infor{
    margin-top: 10px;
    width: 30%;
    margin: auto;
}
.infor-links img{
    width: 15%;
    margin: 10px;
}
.infor-contc h1{
   text-transform: uppercase;
   font-size: 20px;
   background: linear-gradient(yellow,red,red);
   -webkit-background-clip: text;
   color: transparent;  
}
.contact-infor h1{
    margin: 5px;
    text-transform: uppercase;
    font-size: 20px;
    background: linear-gradient(yellow,red,red);
    -webkit-background-clip: text;
    color: transparent;     
}
.infor-links h1{
    text-transform: uppercase;
    font-size: 40px;
    background: linear-gradient(yellow,red,red);
    -webkit-background-clip: text;
    color: transparent;    
}
.infor-contc  p{
    margin: 6px;
}
.contact-infor h2{
    margin: 5px;
    text-transform: uppercase;
    font-size: 20px;
    background: linear-gradient(yellow,red,red);
    -webkit-background-clip: text;
    color: transparent;    
}
.contact-infor p{
    margin: 6px;
}
